<div class="tab-body__title d-flex justify-content-between align-items-center p-2 mb-3 back0">
    <div class="tab-body__title-name ms-3">
        <h1>Danh sách sản phẩm</h1>
    </div>

    <div class="tab-body__title-ticker me-3">
        <span class="day">Thứ năm</span> ,
        <span class="date">28</span> /
        <span class="month">05</span> /
        <span class="year">2022</span> -
        <span class="hours">16</span> :
        <span class="mins">09</span> :
        <span class="seconds">40</span>
    </div>
</div>

<div class="tab-body__content p-3 back0" ng-app="customer">
    <div id="prd-form" class="" ng-controller="crudUser">
        <div class="prd-form-btn pb-3 border-bottom">
            <div class="btn btn-success p-1 me-1 btn-add">
                <i class="fa-solid fa-plus"></i>
                <span>Create new customer</span>
            </div>
            <div class="btn btn-secondary p-1 btn-delprd">
                <i class="fa-solid fa-trash-can"></i>
                <span>Delete All</span>
            </div>
        </div>

        <div class="prd-form-render">
            <div class="render-filter d-flex justify-content-between align-items-center mt-3 mb-3">
                <div class="render-filter__view">
                    <span class="font-txt">Hiện
                        <select name="tabLength" class="border radius-input back2 outline-unset" ng-model="recordInPage" >
                            <option  value="10" selected>10</option>
                            <option  value="25">25</option>
                            <option  value="50">50</option>
                            <option  value="100">100</option>
                        </select>
                        danh mục
                    </span>
                </div>
                <div class="render-filter__search p-2 border radius-input">
                    <label for="search" class=" bold">Search:</label>
                    <input type="text" name="search" id="admin-prdSearch" class="border radius-input back2 font-txt pt-1 pb-1 ps-2 pe-2">
                </div>
            </div>
            <div class="render-table">
                <table class="w-100" border="1" style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th class="p-2 border text-center"><input type="checkbox" name="checkAll"></th>
                            <th class="p-2 border">Customer ID</th>
                            <th class="p-2 border">Customer Name</th>
                            <th class="p-2 border">Avatar</th>
                            <th class="p-2 border">Mail</th>
                            <th class="p-2 border">Phone</th>
                            <th class="p-2 border">Fullname</th>
                            <th class="p-2 border">Address</th>
                            <th class="p-2 border">Options</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="elm in userArr">
                            <td class="p-2 border prd-check text-center"><input type="checkbox"></td>
                            <td class="p-2 border prd-code">{{elm.id}}</td>
                            <td class="p-2 border prd-name">{{elm.user_name}}</td>
                            <td class="p-2 border prd-img text-center">
                                <img ng-src="{{elm.user_avt==null?'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4iyk499ijlxw2Ytpww4eYisy8iJSgFZUcIQ&usqp=CAU':elm.user_avt}}" width=" 30%" alt=""></td>
                            <td class="p-2 border prd-quantity">{{elm.user_email}}</td>
                            <td class="p-2 border prd-status">
                                <div><span>{{elm.user_phone}}</span></div>
                            </td>
                            <td class="p-2 border prd-price">{{elm.user_fullname}}</td>
                            <td class="p-2 border prd-cate">{{elm.user_address}}</td>
                            <td class="p-2 border prd-options" style="white-space:nowrap;">
                                <button class="trash pt-1 pb-1 ps-2 pe-2 border radius-input btn--active" ng-click="removeHandle(elm.id, elm.user_avt)">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                                <button class="edit pt-1 pb-1 ps-2 pe-2 border radius-input btn--active" data-bs-toggle="modal" data-bs-target="#EditPrdModal">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal fade" id="EditPrdModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" style="max-width: 70%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-titlec bold" id="staticBackdropLabel" style="font-size: 20px;">Chỉnh sửa thông tin sản phẩm cơ bản</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" id="editForm" class="row">
                                    <div class="input-fields__items col-3 mb-3">
                                        <Label class="d-block bold">Username</Label>
                                        <input class="w-100 p-2 border radius-input back2" name="username" minlength="6" type="text" required>
                                    </div>
                                    <div class="input-fields__items col-3 mb-3">
                                        <Label class="d-block bold">Password</Label>
                                        <input class="w-100 p-2 border radius-input back2" minlength="8" name="password" type="password" required>
                                    </div>
                                    <div class="input-fields__items col-3 mb-3">
                                        <Label class="d-block bold">Email</Label>
                                        <input class="w-100 p-2 border radius-input back2" name="email" type="email" required>
                                    </div>
                                    <div class="input-fields__items col-3 mb-3">
                                        <Label class="d-block bold">Phone</Label>
                                        <input type="text" class="w-100 p-2 border radius-input back2" name="phone" pattern="[0-9]{10}" type="tel" required>
                                    </div>
                                    <div class="input-fields__items col-3 mb-3">
                                        <Label class="d-block bold">Fullname</Label>
                                        <input type="text" class="w-100 p-2 border radius-input back2" minlength="6" name="fullname" required>
                                    </div>
                                    <div class="input-fields__items col-3 mb-3">
                                        <label class="d-block bold" for="">Address</label>
                                        <input type="text" class="w-100 p-2 border radius-input back2" name="address" required>
                                    </div>
                                    <div class="input-fields__items col-12 mb-3">
                                        <Label class="d-block bold">Avatar(jpg, jpeg, png)</Label>
                                        <div class="thumbnail mt-3 mb-3">
                                            <div class="btn-delThumbnail w-fit d-none d-inline-block">
                                                <i class="fa-solid fa-xmark"></i>
                                            </div>
                                            <img alt="Thumbnail Image" class="d-none" width="300px">
                                        </div>
                                        <div>
                                            <label for="uploadFileEdit" class="upload"><i class="fa-solid fa-cloud-arrow-up"></i><span>Choose image</span></label>
                                            <input type="file" name="uploadFile" id="uploadFileEdit" hidden>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" id="btn-editPrd" form="editForm">Save</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" form="editForm">Cancle</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="render-foot d-flex justify-content-between align-items-center mt-2">
                    <div class="render-foot__view">

                        Hiện <span>{{start}}</span> đến <span>{{limit}}</span> của <span>{{totalRecord}}</span> danh mục
                    </div>

                    <div class="render-page__foot__pagnigation d-flex align-items-center border radius-input">
                        <div class="btn-prev p-2 page--disable">Previous</div>
                        <div class="page-lst d-flex align-items-center justify-content-between">
                            <span class="border-start border-end pt-2 pb-2 ps-3 pe-3 page--active" ng-repeat="x in totalPage" ng-click='pagingHandle(x)'>{{x}}</span>
                        </div>
                        <div class="btn-next p-2 hover-page">Next</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addprd-form" class="d-none">
        <div class="addprd-form__title mb-4">
            <h1 class="pt-2 pb-2 border-2 border-bottom border-warning bold" style="font-size: 1.25rem;">Create a new customer</h1>
        </div>

        <div class="addprd-form__fields">
            <div class="input-fields">
                <form action="" method="POST" id="addForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-fields__items col-3 mb-3">
                            <Label class="d-block bold">Username</Label>
                            <input class="w-100 p-2 border radius-input back2" name="username" minlength="6" type="text" required>
                        </div>
                        <div class="input-fields__items col-3 mb-3">
                            <Label class="d-block bold">Password</Label>
                            <input class="w-100 p-2 border radius-input back2" minlength="8" name="password" type="password" required>
                        </div>
                        <div class="input-fields__items col-3 mb-3">
                            <Label class="d-block bold">Email</Label>
                            <input class="w-100 p-2 border radius-input back2" name="email" type="email" required>
                        </div>
                        <div class="input-fields__items col-3 mb-3">
                            <Label class="d-block bold">Phone</Label>
                            <input type="text" class="w-100 p-2 border radius-input back2" name="phone" pattern="[0-9]{10}" type="tel" required>
                        </div>
                        <div class="input-fields__items col-3 mb-3">
                            <Label class="d-block bold">Fullname</Label>
                            <input type="text" class="w-100 p-2 border radius-input back2" minlength="6" name="fullname" required>
                        </div>
                        <div class="input-fields__items col-3 mb-3">
                            <label class="d-block bold" for="">Address</label>
                            <input type="text" class="w-100 p-2 border radius-input back2" name="address" required>
                        </div>
                        <div class="input-fields__items col-12 mb-3">
                            <Label class="d-block bold">Avatar(jpg, jpeg, png)</Label>
                            <div class="thumbnail mt-3 mb-3">
                                <div class="btn-delThumbnail w-fit d-none d-inline-block">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                                <img alt="Thumbnail Image" class="d-none" width="300px">
                            </div>
                            <div>
                                <label for="uploadFile" class="upload"><i class="fa-solid fa-cloud-arrow-up"></i><span>Choose image</span></label>
                                <input type="file" name="uploadFile" id="uploadFile" hidden>
                            </div>
                        </div>

                        <div class="input-fields__items col-12 mb-3">
                            <button type="submit" class="btn btn-success">Save</button>
                            <div class="btn btn-danger btn-cancle">Cancle</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="module" src="./assets/js/cusManage.js"></script>