<div class="slider">
    <div id="carouselExampleIndicators" data-bs-interval="3000" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators" style="z-index: 1;">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="max-height:750px;">
            <div class="carousel-item active">
                <img src="./assets/img/slide1.jpg" class="d-block w-100" width="100%" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./assets/img/slide2.jpg" class="d-block w-100" width="100%" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./assets/img/slide3.jpg" class="d-block w-100" width="100%" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container mb-5" ng-controller="renderPrd">
    <div class="body-cate" ng-controller="cart">
        <div class="">
            <div class="body-cate__Fan mb-5">
                <div class="body-cate__Fan-title border-bottom position-relative">
                    Stand Fan
                </div>

                <div class="body-cate__Fan-items">
                    <div class="row">
                        <div class="col-3 mb-3" ng-repeat="val in product | cateFilter:2 | limitTo:4">
                            <div class="border hover-scale-img position-relative">
                                <div class="items-discount" class="items-discount" ng-show="{{val.product_discount==0?false:true}}">
                                    <div>
                                        <span class="percent">{{val.product_discount}}%</span>
                                        <span class="reduce">GIẢM</span>
                                    </div>
                                </div>
                                <div class="item-avt overflow-hidden position-relative">
                                    <img ng-src="{{val.product_avt}}" width="304x" height="304px" style="object-fit: contain;" alt="">
                                    <div class="item-avt__option position-absolute top-50 start-50 translate-middle d-flex">
                                        <div class="item-avt__option-like ms-2 me-2 hover-background"><i class="fa-regular fa-heart"></i></div>
                                        <div class="item-avt__option-view hover-background" data-bs-toggle="modal" data-bs-target="#prdModal" ng-click="prdDetailHandle(val.id)"><i class="fa-solid fa-eye"></i></div>
                                    </div>
                                </div>
                                <div class="item-content p-3">
                                    <div class="text-center hover_link txt-line-clamp" ng-click="prdDetailHandle(val.id, 'gotodetail')">
                                        <div class="d-flex h-100">
                                            <p class="m-auto">{{val.product_name}}</p>
                                        </div>
                                    </div>

                                    <div class=" d-flex align-items-center justify-content-between mt-3">
                                        <div class="d-flex align-items-center">
                                            <div class="item-content__old-price pe-3 text-decoration-line-through">{{val.product_discount==0?null:val.product_price | currency: '$':0}}</div>
                                            <div class="item-content__new-price" style="font-size:1.25rem; color: #be6f4c;">{{val.product_price-(val.product_price*val.product_discount/100) | currency: '$':0}}
                                            </div>
                                        </div>
                                        <div class="item-content__add-cart pt-2 pb-2 ps-3 pe-3 hover-background" ng-click="cartHandle(val.id, 1, val.product_quantity)">
                                            <i class="fa-regular fa-square-plus"></i>
                                            <span>Add to cart</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner banner-1">
            <img src="./assets/img/banner-1.jpg" width="100%" alt="">
        </div>

        <div class="">
            <div class="body-cate__Fan mb-5">
                <div class="body-cate__Fan-title border-bottom position-relative">
                    Ceiling fan
                </div>

                <div class="body-cate__Fan-items">
                    <div class="row">
                        <div class="col-3 mb-3" ng-repeat="val in product | cateFilter:3 | limitTo:4">
                            <div class="border hover-scale-img position-relative">
                                <div class="items-discount" class="items-discount" ng-show="{{val.product_discount==0?false:true}}">
                                    <div>
                                        <span class="percent">{{val.product_discount}}%</span>
                                        <span class="reduce">GIẢM</span>
                                    </div>
                                </div>
                                <div class="item-avt overflow-hidden position-relative">
                                    <img ng-src="{{val.product_avt}}" width="304x" height="304px" style="object-fit: contain;" alt="">
                                    <div class="item-avt__option position-absolute top-50 start-50 translate-middle d-flex">
                                        <div class="item-avt__option-like ms-2 me-2 hover-background"><i class="fa-regular fa-heart"></i></div>
                                        <div class="item-avt__option-view hover-background" data-bs-toggle="modal" data-bs-target="#prdModal" ng-click="prdDetailHandle(val.id)"><i class="fa-solid fa-eye"></i></div>
                                    </div>
                                </div>
                                <div class="item-content p-3">
                                    <div class="text-center hover_link txt-line-clamp" ng-click="prdDetailHandle(val.id, 'gotodetail')">
                                        <div class="d-flex h-100">
                                            <p class="m-auto">{{val.product_name}}</p>
                                        </div>
                                    </div>
                                    <div class=" d-flex align-items-center justify-content-between mt-3">
                                        <div class="d-flex align-items-center">
                                            <div class="item-content__old-price pe-3 text-decoration-line-through">{{val.product_discount==0?null:val.product_price | currency: '$':0}}</div>
                                            <div class="item-content__new-price" style="font-size:1.25rem; color: #be6f4c;">{{val.product_price-(val.product_price*val.product_discount/100) | currency: '$':0}}
                                            </div>
                                        </div>
                                        <div class="item-content__add-cart pt-2 pb-2 ps-3 pe-3 hover-background" ng-click="cartHandle(val.id, 1, val.product_quantity)">
                                            <i class="fa-regular fa-square-plus"></i>
                                            <span>Add to cart</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner banner-2">
            <img src="./assets/img/banner-2.jpg" width="100%" alt="">
        </div>

        <div class="">
            <div class="body-cate__Fan mb-5">
                <div class="body-cate__Fan-title border-bottom position-relative">
                    Air Conditioner Fan
                </div>

                <div class="body-cate__Fan-items">
                    <div class="row">
                        <div class="col-3 mb-3" ng-repeat="val in product | cateFilter:7 | limitTo:4">
                            <div class="border hover-scale-img position-relative">
                                <div class="items-discount" class="items-discount" ng-show="{{val.product_discount==0?false:true}}">
                                    <div>
                                        <span class="percent">{{val.product_discount}}%</span>
                                        <span class="reduce">GIẢM</span>
                                    </div>
                                </div>
                                <div class="item-avt overflow-hidden position-relative">
                                    <img ng-src="{{val.product_avt}}" width="304x" height="304px" style="object-fit: contain;" alt="">
                                    <div class="item-avt__option position-absolute top-50 start-50 translate-middle d-flex">
                                        <div class="item-avt__option-like ms-2 me-2 hover-background"><i class="fa-regular fa-heart"></i></div>
                                        <div class="item-avt__option-view hover-background" data-bs-toggle="modal" data-bs-target="#prdModal" ng-click="prdDetailHandle(val.id)"><i class="fa-solid fa-eye"></i></div>
                                    </div>
                                </div>
                                <div class="item-content p-3">
                                    <div class="text-center hover_link txt-line-clamp" ng-click="prdDetailHandle(val.id, 'gotodetail')">
                                        <div class="d-flex h-100">
                                            <p class="m-auto">{{val.product_name}}</p>
                                        </div>
                                    </div>
                                    <div class=" d-flex align-items-center justify-content-between mt-3">
                                        <div class="d-flex align-items-center">
                                            <div class="item-content__old-price pe-3 text-decoration-line-through">{{val.product_discount==0?null:val.product_price | currency: '$':0}}</div>
                                            <div class="item-content__new-price" style="font-size:1.25rem; color: #be6f4c;">{{val.product_price-(val.product_price*val.product_discount/100) | currency: '$':0}}
                                            </div>
                                        </div>
                                        <div class="item-content__add-cart pt-2 pb-2 ps-3 pe-3 hover-background" ng-click="cartHandle(val.id, 1, val.product_quantity)">
                                            <i class="fa-regular fa-square-plus"></i>
                                            <span>Add to cart</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner banner-3">
            <img src="./assets/img/banner-3.jpg" width="100%" alt="">
        </div>

        <div class="">
            <div class="body-cate__Fan">
                <div class="body-cate__Fan-title border-bottom position-relative">
                    Air Purifier
                </div>

                <div class="body-cate__Fan-items">
                    <div class="row">
                        <div class="col-3 mb-3" ng-repeat="val in product | cateFilter:5 | limitTo:4">
                            <div class="border hover-scale-img position-relative">
                                <div class="items-discount" ng-show="{{val.product_discount==0?false:true}}">
                                    <div>
                                        <span class="percent">{{val.product_discount}}%</span>
                                        <span class="reduce">GIẢM</span>
                                    </div>
                                </div>
                                <div class="item-avt overflow-hidden position-relative">
                                    <img ng-src="{{val.product_avt}}" width="304x" height="304px" style="object-fit: contain;" alt="">
                                    <div class="item-avt__option position-absolute top-50 start-50 translate-middle d-flex">
                                        <div class="item-avt__option-like ms-2 me-2 hover-background"><i class="fa-regular fa-heart"></i></div>
                                        <div class="item-avt__option-view hover-background" data-bs-toggle="modal" data-bs-target="#prdModal" ng-click="prdDetailHandle(val.id)"><i class="fa-solid fa-eye"></i></div>
                                    </div>
                                </div>
                                <div class="item-content p-3">
                                    <div class="text-center hover_link txt-line-clamp" ng-click="prdDetailHandle(val.id, 'gotodetail')">
                                        <div class="d-flex h-100">
                                            <p class="m-auto">{{val.product_name}}</p>
                                        </div>
                                    </div>
                                    <div class=" d-flex align-items-center justify-content-between mt-3">
                                        <div class="d-flex align-items-center">
                                            <div class="item-content__old-price pe-3 text-decoration-line-through">{{val.product_discount==0?null:val.product_price | currency: '$':0}}</div>
                                            <div class="item-content__new-price" style="font-size:1.25rem; color: #be6f4c;">{{val.product_price-(val.product_price*val.product_discount/100) | currency: '$':0}}
                                            </div>
                                        </div>
                                        <div class="item-content__add-cart pt-2 pb-2 ps-3 pe-3 hover-background" ng-click="cartHandle(val.id, 1, val.product_quantity)">
                                            <i class="fa-regular fa-square-plus"></i>
                                            <span>Add to cart</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade " id="prdModal" tabindex="-1" aria-labelledby="prdTitle" aria-hidden="true" ng-controller="cart">
        <div class="modal-dialog modal-dialog-centered w-75 ps-3 pe-3 mw-100">
            <div class="modal-content rounded-0">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close border border-warning rounded-0" style="font-size: 0.5rem;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row pb-5">
                        <div class="col-6">
                            <div class="border-bottom mb-3">
                                <h2 class="pb-2 ">{{prdDetail[0].product_name}}</h2>
                                <h4 class="pb-2 nav-link--active">{{prdDetail[0].product_price-(prdDetail[0].product_price*prdDetail[0].product_discount/100) | currency:'$':0}}</h4>
                            </div>
                            <p class="mb-3">{{prdDetail[0].product_describe}}</p>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <h5>Material:</h5>
                                    <div style="background-color: #fff;" class="border border-danger w-fit p-2">{{prdDetail[0].material_name}}</div>
                                </div>
                                <div>
                                    <h5 class="d-inline">Quantity:</h5> <span class="prdQuantity">{{prdDetail[0].product_quantity}}</span>
                                </div>
                            </div>
                            <div class="d-flex text-center">
                                <div class="list-group list-group-horizontal" style="height: 40px;">
                                    <div class="btn btn-sm btn-success outline-unset list-group-item decreased p-2 text-center lh-base " ng-click="decreased(prdQuanCart,mode)">-</div>
                                    <input class="list-group-item text-center " type="number" value="1" name="quantity" style="width: 60px;" ng-model="prdQuanCart">
                                    <div class="btn btn-sm btn-success outline-unset list-group-item icreased p-2 text-center lh-base " ng-click="increased(prdDetail[0].product_quantity, prdQuanCart,mode)">+</div>
                                </div>
                                <div class="ms-3">
                                    <button class="background--active hover-back-button p-2 border-0 rounded" ng-click="cartHandle(prdDetail[0].id, prdQuanCart, prdDetail[0].product_quantity)"><i class="fa fa-plus-square" aria-hidden="true" ></i> Add to cart</button>
                                </div>
                                <div class="ms-3"><i class="fa-regular fa-heart btn-black rounded" style="padding: 12px;"></i></div>
                            </div>
                        </div>

                        <div class="col-6 ps-0 pe-0">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" ng-repeat="val in gallery">
                                        <img ng-src="{{val}}" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <i class="fa-solid fa-chevron-left" style="font-size: 1.563rem; color:#333;"></i>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <i class="fa-solid fa-chevron-right" style="font-size: 1.563rem; color:#333;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-exclusive text-center mb-5">
    <div class="container pt-5 pb-5">
        <div class="w-50 m-auto">
            <div class="body-exclusive__title mb-5">
                <h1 class="mb-2">
                    Đăng Ký Cung Cấp Độc Quyền Và Hơn Thế Nữa
                </h1>
                <h3>Nhận các tin khuyến mãi mới nhất từ chúng tôi</h3>
            </div>

            <div class="body-excluesive__register">
                <div class="m-auto d-flex">
                    <input class="col-9 p-3" style="outline: unset;" type="text" required placeholder="Email Address...">
                    <span class="col-3 hover-back-button">Register</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./assets/js/home.js"></script>