<body>
    <div>
        <div class="productDetail-header mb-5" ng-controller="renderPrd">
            <div class="container productDetail-header__linker text-end">
                <span class="productDetail-header__linker-fromPage">
                    <i class="fa-solid fa-house-chimney pe-1 hover_link" ng-click="includeHandle(0)"></i>
                    <span class="pe-1 hover_link" ng-click="includeHandle(0)">Home</span>
                </span>

                <span class="productDetail-header__linker-fromPage">
                    <i class="fa-solid fa-caret-right pe-1"></i>
                    <span class="pe-1 hover_link" ng-click="includeHandle(2)">Product</span>
                </span>

                <span class="productDetail-header__linker-curPage text-capitalize">
                    <i class="fa-solid fa-caret-right pe-1"></i>
                    <span >{{prdDetail[0].cate_name}}</span>
                </span>
            </div>
        </div>

        <section class="container pt-5">
            <div class="row pb-5" ng-controller="renderPrd">
                <div class="col-6">
                    <div class="border-bottom mb-3">
                        <h2 class="pb-2">{{prdDetail[0].product_name}}</h2>
                        <h4 class="pb-2 nav-link--active">{{prdDetail[0].product_price-(prdDetail[0].product_price*prdDetail[0].product_discount/100) | currency:'$':0}}</h4>
                    </div>
                    <p class="mb-3">{{prdDetail[0].product_describe}}</p>
                    <div class="mb-3">
                        <div class="mb-3">
                            <h5>Material:</h5>
                            <div style="background-color: #fff;" class="border border-danger w-fit p-2">{{prdDetail[0].material_name}}</div>
                        </div>
                        <div>
                            <h5 class="d-inline">Quantity:</h5> <span class="prdQuantity">{{prdDetail[0].product_quantity}}</span>
                        </div>
                    </div>
                    <div class="d-flex text-center" ng-controller="cart">
                        <div class="list-group list-group-horizontal" style="height: 40px;">
                            <div class="btn btn-sm btn-success outline-unset list-group-item decreased p-2 text-center lh-base " ng-click="decreased(prdQuanCart)">-</div>
                            <input class="list-group-item text-center " type="number" value="1" name="quantity" style="width: 60px;" ng-model="prdQuanCart">
                            <div class="btn btn-sm btn-success outline-unset list-group-item icreased p-2 text-center lh-base " ng-click="increased(prdDetail[0].product_quantity, prdQuanCart)">+</div>
                        </div>
                        <div class="ms-3">
                            <button class="background--active hover-back-button p-2 border-0 rounded" ng-click="cartHandle(prdDetail[0].id, prdQuanCart, prdDetail[0].product_quantity)"><i class="fa fa-plus-square" aria-hidden="true" ></i> Add to cart</button>
                        </div>
                        <div class="ms-3"><i class="fa-regular fa-heart btn-black rounded" style="padding: 12px;"></i></div>
                    </div>
                </div>

                <div class="col-6 ps-0 pe-0">
                    <div class="slider border position-relative">
                        <div ng-repeat="val in gallery">
                            <img ng-src="{{val}}" style="object-fit: contain;" height="423px" width="100%" alt="">
                        </div>
                    </div>

                    <div class="slider-nav mt-3">
                        <div class="border position-relative" ng-repeat="val in gallery">
                            <img ng-src="{{val}}" style="object-fit: contain;" height="100px" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment" ng-controller="comment">
                <div class="comment__header d-flex justify-content-between align-items-center pb-3 border-bottom mb-3">
                    <div class="comment__header-quantity fw-semibold">
                        <span>{{cmtQuan}}</span> comments
                    </div>

                    <div class="comment__header-sort">
                        Sort by <select name="sortCmt" id="sortCmt" class="border outline-unset" style="font-size: .8rem;" ng-model="sortDate">
                            <option value="-cmt_date">Newest</option>
                            <option value="+cmt_date">Oldest</option>
                        </select>
                    </div>
                </div>
                <div class="comment__body">
                    <div class="comment__body-input d-flex align-items-start mb-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4iyk499ijlxw2Ytpww4eYisy8iJSgFZUcIQ&usqp=CAU" width="50px" height="50px" style="object-fit: cover;" alt="">
                        <div class="content ms-2 w-100">
                            <textarea class="border outline-unset ps-2 pe-2 w-100" name="contentCmt" id="contentCmt" cols="137" rows="5" placeholder="Enter comment..." ng-model="content"></textarea>
                            <div class="w-100 bg-light p-2 text-end border border-top-0">
                                <button class="cmtPublic btn btn-primary btn-sm" ng-click="addComment()">Public</button>
                            </div>
                        </div>
                    </div>

                    <div class="comment__body-render">
                        <div class="d-flex align-items-center w-100 mb-4" ng-repeat="val in cmtArr | cmtFilter: val.product_id | orderBy: sortDate">
                            <img ng-src="{{val.user_avt==null?'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4iyk499ijlxw2Ytpww4eYisy8iJSgFZUcIQ&usqp=CAU':val.user_avt}}" width="50px" height="50px" style="object-fit: cover;" alt="">
                            <div class="ms-2 w-100 position-relative" id="cmt{{val.id}}">
                                <div class="d-flex justify-content-between">
                                    <span class="text-primary fw-semibold">{{val.user_name}}</span>
                                    <label for="{{val.id}}" class="position-relative bg-white ps-2 pe-2" ng-show="{{userid!=val.user_id?false:true}}">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <input type="checkbox" hidden class="adjustCmt"  id="{{val.id}}">
                                        <div class="cmtTool position-absolute end-0 border" style="z-index: 1;">
                                            <ul>
                                                <li class="cmtTool--hover text-center" ng-click="updateCmt(val.id, val.user_id)">Edit comment</li>
                                                <li class="cmtTool--hover text-center" ng-click="removeCmt(val.id, val.user_id)">Delete comment</li>
                                            </ul>
                                        </div>
                                    </label>
                                </div>
                                <p class="text-break">{{val.content}}</p>
                                <span class="position-absolute top-100 start-0" style="color: #90949c; font-size:0.75rem;">{{val.cmt_date | date:'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="pt-5">
                    <h2 class="text-center">Sản Phẩm Liên Quan</h2>
                    <h5 class="text-center">Thêm lựa chọn cho bạn</h5>
                </div>
                <div class="slider-2">

                </div>
            </div>
        </section>
    </div>
</body>
<script src="./assets/js/productDetails.js"></script>


</html>