.aboutUs-header{
    background: #f6f4ee;
    padding: 16px 0px;
}
.aboutUs-header__linker-curPage span{
    color: var(--hover-color-link);
}

.aboutUs-body__general-img div{
    height: 100%;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.aboutUs-body__general-content-title h1{
    font-size: 2.5rem;
    font-weight: bold;
}
.aboutUs-body__other-banner > div{
    height: 450px;
    max-height: 450px;
}
.aboutUs-body__other-banner1 div{
    height: 100%;
    background-image: url(../img/2.jpg.jpg);
    background-repeat: no-repeat;
}
.aboutUs-body__other-banner2 div{
    height: 100%;
    background-image: url(../img/3.jpg.jpg);
    background-repeat: no-repeat;
}

.aboutUs-body__other-content-title h1{
    font-size: 1.563rem;
    font-weight: bold;
    color: #292929;
}
.aboutUs-body__other-content-decribe p{
    line-height: 1.6;
}
.aboutUs-body__promotion .promotion-item{
    background-color:var(--back-item);
    padding:70px 40px; 
    color: #fff;
}
.aboutUs-body__promotion-content-title{
    font-size: 2.5rem; 
    font-weight: bold;
    line-height: 1.2;
    text-transform: capitalize;
}
.aboutUs-body__promotion-content-btn{
    font-size: 0.938rem;
    text-transform: uppercase;
    letter-spacing: 2px; 
    position: relative;
    width: fit-content;
}
.aboutUs-body__promotion-content-btn::before{
    content: "";
    display: inline-block;
    left: 0px;
    bottom: -5px;
    background-color: #292929;
    width: 0px;
    height: 1px;
    position: absolute;
    transition: all .3s ease-in-out;
}
.aboutUs-body__promotion-content-btn:hover::before{
    width: 100%;
}
.aboutUs-body__promotion-content-btn:hover{
    color: #292929;
    cursor: pointer;
}
.aboutUs-body__promotion-img{
    background-image: url(../img/4.jpg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}