        .productDetail-header {
            background: #f6f4ee;
            padding: 16px 0px;
        }
        
        .productDetail-header__linker-curPage span {
            color: var(--hover-color-link);
        }
        
        .fa-caret-right {
            padding-top: 0.938rem;
        }
        
        nav-link:hover {
            color: #be6f4c;
        }
        
        input[name='quantity']::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0px;
        }
        /* SLIDER */
        
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            z-index: 1;
        }
        
        .slider-nav .slick-current::before {
            font-family: 'FontAwesome';
            content: '\f055';
            display: block;
            position: absolute;
            font-size: 1.5rem;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .5;
            background-color: rgba(220, 220, 220, .5);
            text-align: center;
            line-height: 100px;
        }
        
        .slider-nav .slick-list .slick-track {
            /* width: auto !important; */
        }
        
        .slider-nav .slick-list {
            margin-right: -8px;
        }
        /* Comment */
        
        #contentCmt {
            resize: unset;
            height: 50px;
            line-height: 50px;
        }
        
        #contentCmt::-webkit-scrollbar {
            display: none;
        }
        
        #contentCmt+div {
            margin-top: -8px;
            display: none;
        }
        
        .cmtTool {
            width: 150px;
            max-width: 150px;
            padding: 8px;
            background-color: #fff;
            box-shadow: 0 3px 8px rgb(0 0 0 / 30%);
            display: none;
        }
        
        .adjustCmt:checked+div {
            display: block;
        }
        
        .comment__body-render {
            max-height: 300px;
            overflow-y: scroll;
        }
        
        .comment__body-render::-webkit-scrollbar {
            display: none;
        }
        
        .cmtTool--hover:hover {
            background-color: rgb(58, 58, 219);
            color: #fff;
            transition: all .2s ease-in;
        }