.register-header{
    background: #f6f4ee;
    padding: 16px 0px;
}
.register-header__linker-curPage span{
    color: var(--hover-color-link);
}


#registerForm{
    width: 1000px;
    max-width: 1000px;
    margin: auto;
}